<% layout('/layouts/boilerplate') %>
<div class="row mt-3">
    <h1 class="text-center">Edit Listing Form</h1>
    <div class="col-6 offset-3">
        <form action="/listings/<%= listing.id %>?_method=PUT" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="name" class="form-label"> Listing Name:</label>
                <input type="text" name="listing[name]" id="name" class="form-control" value="<%= listing.name %>" required>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label"> Listing Location:</label>
                <input type="text" name="listing[location]" id="location" class="form-control" value="<%= listing.location %>" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label"> Listing Image URL:</label>
                <input type="text" name="listing[image]" id="image" class="form-control" value="<%= listing.image %>" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label"> Listing Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">P</span>
                    <input type="number" name="listing[price]" id="price" class="form-control" placeholder="0.00" value="<%= listing.price %>" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label"> Listing Description:</label>
                <textarea name="listing[description]" id="description" class="form-control"rows="4" required> <%= listing.description %></textarea>
            </div>
            
            <div class="mt-2 text-center">
                <button class="btn btn-success">Update Listing</button>
                <a href="/listings/<%=listing.id %>"><div class="btn btn-danger">Back</div></a>
            </div>
        </form>

    </div>
</div>


